*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato, sans-serif';
    /* background: rgb(0, 0, 0); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/fondo-g.jpg') ; 
    background-repeat: repeat;
    background-position: center; 
    background-size: cover;
    
    
}

.titulo {
    text-align: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding-top: 130px;
    font-size: 50px;
}

.contenedor {
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
    padding-top: 150px;   
}

.base {    
    width: 150px;
    height: 100px;
    background-color: rgba(7, 121, 149, 0.571);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    border: 5px solid #e5e4e4;
    border-radius: 5px;
   
}

#fecha {
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

@media (max-width: 600px) {

    .titulo {
        padding-top: 50px;
        font-size: 40px;
    }
    .contenedor {
        padding-top: 60px;
        flex-direction: column;
    }
}